# Dependencies
node_modules/
.pnpm-store/

# Next.js / Build
.next/
out/
build/
dist/

# Environment Variables
.env.local
.env.production.local
.env.development.local
*.log

# IDE & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
